<div>通过Service实现登录的控制</div>
{{input type="text" value=username placeholder='username'}}
{{input type="password" value=password placeholder="password"}}
{{com-btn 
    text="Cancle" 
    onClickAction=(action "cancleAction") 
}}
{{com-btn 
    text="Login" 
    onClickAction=(action "loginAction") 
}}
<button {{action "testLoginSuccess"}}>测试是否登录成功</button>
<hr />
{{link-to-external "点击跳转到外部（非engine内）链接" "test"}}
<div {{action "testGo"}}>通过action点击跳转到外部链接</div>
<hr />
<button {{action "testServiceFromEngine"}}>从宿主应用传递过来的service</button>