<div>通过Service实现登录的控制</div>
{{input type="text" value=username placeholder='username'}}
{{input type="password" value=password placeholder="password"}}
{{com-btn 
    text="Cancle" 
    onClickAction=(action "cancleAction") 
}}
{{com-btn 
    text="Login" 
    onClickAction=(action "loginAction") 
}}
<button {{action "testLoginSuccess"}}>测试是否登录成功</button>
<hr />
<br />


<div>使用 ember-simple-auth 实现登录的控制</div>
{{input type="text" value=username_b placeholder='username'}}
{{input type="password" value=password_b placeholder="password"}}
{{#if session.isAuthenticated}}
    <button {{action 'Logout'}}>Logout</button>
{{else}}
    <button {{action 'Login'}}>Login</button>
{{/if}}
<button {{action "testAuthorize"}}>测试是否Authorize成功</button>
<hr />
<br />


{{link-to-external "点击跳转到外部（非engine内）链接" "test"}}
<div {{action "testGo"}}>通过action点击跳转到外部链接</div>
<hr />
<button {{action "testServiceFromEngine"}}>从宿主应用传递过来的service</button>