{{com-input-text text="用户名"}}
{{com-input-mask text="密码"}}
{{com-btn 
    text="Cancle" 
    onClickAction=(action "cancleAction") 
}}
{{com-btn 
    text="Login" 
    onClickAction=(action "loginAction") 
}}

{{link-to-external "点击跳转到外部（非engine内）链接" "test"}}
<div {{action "testGo"}}>通过action点击跳转到外部链接</div>